extends layout

block content
  h1 #{artist.artist_name}
  
  p #{artist.artist_biography}
  
  h3 Albums
    ul
      for album in list_artist_albums
        li
          a(href=album.url) #{album.title}
  
  hr
  p 
    a(href = artist.url + '/delete') Delete artist
    
  p
    a(href= '/artist') Back to list of artists