extends layout

block content
  h1= title
  
  ul
  each artist in artists_list
    li
      a(href=artist.url) #{artist.artist_name}
      
  else
    li There are no artists in the database at the moment
    
  h2
    a(href='/') Return to front page