extends layout

block content
  h1 #{artist.artist_name}
  
  p #{artist.artist_biography}
  
  hr
  p 
    a(href = artist.url + '/delete') Delete artist
    
  p
    a(href= '/artist') Back to list of artists