extends layout

block content
  h1=title
  
  form(method='POST' action='')
    div.form-group
      label(for='artistName') Name:
      input#artistName.form-control(type='text', placeholder='Artist name' name='artistName' required='true' value=(undefined===artist ? '' : artist.artistName))
    div.form-group
      label(for='artistBiography') Biography:
      input#artistBiography.form-control(type='text', placeholder='Enter the biography of the artist here', name='artistBiography', value=(undefined===artist ? '' : artist.artistBiography))
    button.btn.btn-primary(type='submit')  Submit
  if errors
    ul
      for error in errors
        li!= error.msg
        
  hr
  p
    a(href='/') Return to front page