extends layout

block content
  h1= title
  
  ul
    li
      a(href='/artist') View All Artists
    li
      a(href='/album') View All Albums
    li
      a(href='/artist/create') Add An Artist
    li
      a(href='/album/create') Add An Album
